@model IEnumerable<Leons.Models.Usuario>;
@{
    ViewData["Title"] = "Lista de Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="container">
    <a asp-controller="Acceso" asp-action="Registro" class="btn btn-primary mb-3">Registrar Nuevo Usuario</a>
    <div>Lista de Usuarios</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
				<th>Apellido</th>
                <th>Nombre de Usuario</th>
				<th>Email</th>
                <th>Teléfono</th>
				<th>Dirección</th>
				<th>Id Rol</th>
				<th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.idUsuario</td>
                    <td>@usuario.nombre</td>
					<td>@usuario.apellido</td>
					<td>@usuario.nombreUsuario</td>
					<td>@usuario.email</td>
                    <td>@usuario.telefono</td>
					<td>@usuario.direccion</td>
					<td>@usuario.idRol</td>
					<td>@usuario.rol?.nombre</td>
                    <td>
                        <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.idUsuario" class="btn btn-dark"><i class="bi bi-pen-fill fs-3"></i></a>
                        <a asp-controller="Usuario" asp-action="Eliminar" asp-route-id="@usuario.idUsuario" class="btn btn-danger" onclick="return confirmar()"><i class="bi bi-trash-fill fs-3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        function confirmar(){
            return confirm("¿Estás seguro de eliminar este Usuario?")
        }

    </script>

}
